body {

	font-size:2em;
	font-family:'roboto condensed';
	background-color:#FFFCF5;



}

h1 {
	text-align:center;
	font-size:1.5em;
	vertical-align:middle;
	line-height: 200px;
	position:relative;
	left:140px;
	color:#FFFCF5;


}

header {
	text-align: center;
	font-weight:bolder;
	border:none;

	

}

#name {
	font-size:.5em;
	position:relative;
	left:120px;
	top:-100px;
	color:#FFFCF5;


}

img {
	height:8em;
	width:11em;
	position:relative;
	left:140px;

}

#pics {
	text-align: center;
	padding:50px 50px;
	float:center;



}

footer {
	position:absolute;
	height:2em;
	width:100%;
	text-align:center;
	display:block;
	font-size:15px;
	margin-top:500px;
	left:100px;

}

header .contact {
	border-style:none;
	font-size:20px;
	text-align:center;
	color:#625A47;



}

.buttons {
	text-align:center;
	position:relative;
	left:140px;
	margin-bottom:100px

}

button {
	margin:30px 30px;
	font-size:20px;
	border:none;
	background-color:#FFFCF5;
	color:#625A47;
	text-decoration: none;
}


a {
	margin:40px 40px;
	text-decoration: none;
	font-size:20px;
	color:#625A47;
	
}

#info {
	text-align:center;
	font-size:20px;
	position:relative;
	left:140px;
	color:#625A47;
	border:4em 4em;
}

.social {
	font-size:30px;
	font-weight:lighter;
	color:#FFFCF5;



}

.tech {
	font-size:16px;
	position:relative;
	margin-left:200px;
	left:140px;

}

.cult {
	font-size:16px;
	float:right;
	margin-right:100px;
	position:relative;
	top:-454px;


}

.blog {
	text-align:center;
}

article {
	font-size:20px;
	position:relative;
	text-align:middle;

}


h2 {

	text-align: center;
	font-size:40px;
	position:relative;
	margin-left:380px;
	margin-top:-200px;




}

.frontpage {
	background-color:#AFA897;
	height:200px;

	
}

.contact {
	position:fixed;
	top: 0;
	left: 0;
	width:20%;
	height:100%;
	background-color:#D6D1C4;


}
	 

section {
	text-align:middle;
	position:relative;
	width:75%;
	left:280px;

}

a:visited {
	color:#625A47;
	text-decoration:none;
}

h2 {
	position:relative;
	left:-70px;
	font-size:20px;
}

.left {
	background-color:#D6D1C4;

}

.twit {
	position:relative;
	left:1px;

}

.mail {
	position:relative;
	left:1px;

}

.github {
	position:relative;
	left:1px;

}

h4 {
	text-align:center;
	position:relative;
	left:120px;
}
