body {
	background: url('http://1.bp.blogspot.com/-2TO5FqBrhsg/U42z6NV3pmI/AAAAAAAAC10/WtRt6Hfo_m4/s1600/smile-code-wallpaper.jpg');
	background-size:100% 100%;
	background-repeat:no-repeat;
}

#tech-b {
	text-align: middle;
	font-weight:bolder;
	color:#FEB729;
	font-size:16px;
}