<%= stylesheet_link_tag "landing-page" %>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav contactme" href="#">Contact</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#about">About me</a>
                    </li>
                    <li>
                        <a href="#services">Blogs</a>
                    </li>
                    <li>
                        <a href="#contact">Resume</a>
                    </li>
                    <li>
                        <a href="#contact">Projects</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header" id="backgroundimage">
        <div class="container">

            
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Brian Park</h1>
                        <h3>"Journey to become a Dev"</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="https://twitter.com/br1anp4rk718" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                            </li>
                            <li>
                                <a href="https://github.com/br1anp4rk718" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/profile/view?id=AAIAABlB9a8Bt1-CDBP_V_SEezgFQNC_kYlxhww&trk=nav_responsive_tab_profile" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container aboutmesection">
                <div class='aboutmepic'>
                    <img src='http://previews.123rf.com/images/sararoom/sararoom1209/sararoom120900087/15456232-illustration-of-Business-man-working-hard-Stock-Vector-cartoon-man-computer.jpg' class='asian' style='width:150px; height:150px'>
                    <p style="display:inline-block">
                        I had been working at an Aerospace MFR company for the past 7 years and I was starting to grow weary. I Felt unchallenged and bored. Needed a change!
                    </p>
                </div>  
                    <div class='aboutmepic'>
                         <img src='http://i1.kym-cdn.com/photos/images/newsfeed/000/415/209/3b4.png' class='asian' style='width:150px; height:150px'>
                         <p style="display:inline-block">
                            Friend suggested I look into programming to see if I would like it. Started to learn the basics of a couple languages and their frameworks. Started doing nothing else but learning how to code. I was hooked!
                         </p>
                    </div>
                    <div class='aboutmepic'>
                     <img src='http://thumbs.dreamstime.com/z/flat-cartoon-business-character-man-pc-laptop-38409435.jpg' class='asian' style='width:150px; height:150px'>
                     <p style="display:inline-block">
                        Fast forward a few months, and I'm about to attend a programming bootcamp to hone my skills in what could be the biggest decision of my life. Nervous and excited. Big changes! Dreaming big!
                    </p>
                    </div>
            
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container cicadas">

            <div class="row">
                
                
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    
                    <h2 class="section-heading">After much deliberation, I decided pack my stuck, drop everything, and move up to San Francisco to attend DEV BOOTCAMP. It was the most rewarding and enriching experience of my life. (picture above!)</h2>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <!-- <img class="img-responsive" src="img/phones.png" alt=""> -->
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

	
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
  <div class="container col-sm-12" id='foot'>
  <div class='row'>
      <a href='index.html' class='foot_icon'>Home</a>
      <a href="mailto:br1anp4rk718@gmail.com">Contact</a>
      <a href='blog/index.html' class='foot_icon'>Blog</a>
  </div>
  </div>
    </footer>

    <!-- jQuery -->


    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

</body>

</html>
